 
.navbar-nav .nav-link {
  color: #242235;  
  font-family: 'Roboto', sans-serif;
}


.navbar-nav .nav-link:hover {
  color: #5081ff;  
  font-family: 'Roboto', sans-serif;
}
 


.main-heading {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #000;
  
  font-size: 2.5em;
  line-height: 1.5em;
  margin-top: 0.5em;
  padding: 20px 3em;
  margin-bottom: 1em;
}

.boldi {
  font-family: 'Bonbon', sans-serif;
  font-size: 1.2em;
  color: #5081ff !important;
}

/* mobile responsiveness */
@media (max-width: 768px) {
  .main-heading {
    font-size: 1.4em;
    line-height: 1.4em;
    padding: 10px 1em;
    text-align: left;  
   font-weight: 500;
  }
  .boldi {
    font-size: 1em;
  }
}


.boldii {
  font-family: 'Bonbon', sans-serif;
  font-size:0.7em;
  color: #5081ff !important;
  text-align:left !important;
  margin: 0;
  padding: 20px; 
}

.subhead  {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 1em !important;  
  line-height: 1.5em;
  margin: 0;
  padding: 20px; 
}

.boldiii {
  font-family: 'Bonbon', sans-serif;
  font-size:1.7em;
  color: #5081ff !important;
  text-align:center;
  margin: 0;
  padding: 20px; 
       
}

#biolumiImage, #allnightImage, #kaimenImage, #booksImage, #seaImage, #greenImage {
  /* fade in/out with opacity */
  transition: .5s ease; 
}

 


.float-above {
  position: relative;   
  top: -20px;           
  z-index: 1;          
}

.figure {
  position: relative;  
  margin-bottom: 2rem;
}
 

.figure-caption {
  display: block;
  margin-top: 0.5rem;
  background: white;  
  z-index: 1;
  position: relative;   
  width: 100%; 
  opacity: 0;  
  transition: opacity 0.3s ease;
  text-align: center;  
  left: 50%;
  transform: translateX(-50%);  
  padding-top:10px;
  font-size:0.7em;
  color:darkgrey;
  text-transform:uppercase;
}

.figure:hover .figure-caption {
  opacity: 1;  
}

.figure.show-caption .figure-caption {
  opacity: 1;
} 
